<h3>Project: <%= @project.name %></h3>
<h5>Technologies used: <%= @project.technologies_used %></h5>
<p>
  <%= image_tag @project.image_url(:thumb).to_s %>
</p>
<br />

<h5><b><font color="green">Comments for this project</h5></b></font>
  <%= render "comments/comment" %>

<h5><I>Add a Comment:</I></h5>
  <%= render "comments/form" %>
<br><b>
<% if policy(@project).update? %>
  <%= link_to 'Edit Project', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Destroy', @project, method: :delete, data: {confirm: 'Are you sure you want to delete this Project?'} %> |
<%= link_to 'Back', projects_path %>
<br />
