<h1><strong>Post Listing</strong></h1>

<p align="left">
<%= link_to 'Back to Home', root_path, class: "button tiny" %>
</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Actions</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <h4>Published Posts</h4>
    <% @posts.each do |post| %>
      <tr id="<%= dom_id(post) %>">
      <td><%= post.title %></td>
      <td>
      <%= post.body %>
      </td>
      <td><%= link_to 'Show', post, class: "btn" %></td>
      <% if policy(post).update? %>
        <td>
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-default" %>
        <p class="pull-right"><%= "Published" if post.published %></p>
        </td>
        <td>
        <%= button_to 'Publish', post_path(post, post: { published: true }),
          method: :put, class: "btn btn-default" %>
        </td>
      <% end %>
      <% if policy(post).destroy? %>
        <td><%= link_to 'Destroy', post, method: :delete,
          data: { confirm: 'Are you sure?' } , class: "btn btn-danger" %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
  <%= link_to 'Submit New Post', new_post_path, class: "button radius"%>
<% end %>
