<h1><strong>Post Listing</strong></h1>

<p align="left">
<%= link_to 'Back to Home', root_path, class: "button tiny" %>
</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Actions</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <% if post.published? || policy(post).index? %>
        <h4>Published Posts</h4>
        <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <% if current_user && policy(post).update? %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <% end %>
        <% if current_user && policy(post).destroy? %>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% else %>
          <I>Unpublished posts are awaiting moderation</I>
          <br>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
  <%= link_to 'Submit New Post', new_post_path, class: "button radius"%>
<% end %>
