  <p id="notice"><%= notice %></p>

  <p id="title">
    <b>Title:</b>
    <%= @post.title %>
  </p>

  <p id="body">
    <b>Body:</b>
    <%= @post.body %>
  </p>

  <p id="author">
    <b>By:</b>
    <%= @post.author.email %>
  </p>

  <p id="status">
    <b>Status:</b>
    <%= @post.published? ? "Published" : "Unpublished" %>
  </p>

  <h5><b><font color="green">Comments for this post</h5></b></font>
    <%= render "comments/comment" %>

  <h5><I>Add a Comment:</I></h5>
    <%= render "comments/form" %>
  <br><b>
  <% if policy(@post).update? %>
    <%= link_to 'Edit Post', edit_post_path(@post) %> |
  <% end %>
  <%= link_to 'Listing', posts_path %> |
  <%= link_to 'Home', root_path %>
  </b></br>
