<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "My Portfolio" %></title>
    <title>Portfolio</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <% flash.each do |key, value| %>
    <div class="alert-box round <%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>

  <body>

    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Postings", posts_path %></a></h1>
          <h1><%= link_to "Projects", projects_path %></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li><%= link_to "Projects", projects_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Future Use" %></li>
        </ul>
      </section>
  </nav>

  <div class="row">
    <div class="small-8 columns"><%= yield %></div>
    <div class="small-4 columns">
      <h3 class="subheader">Site Purpose</h3>
    <I>This is a work in progress for a Rails programming class. More content will be added as we progress through the learning experience.</I>
    </div>
  </div>

  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>

  </body>
</html>
